{% extends 'base.html.twig' %}

{% block body %}


    salut mathieu
    <ul>
        <li>
            <a href="/connexion.html"> CO </a>
        </li>
        <li>
            <a href="/inscription.html"> IN </a>
        </li>
        <li>
            <a href="/log_insc.html"> TRANSITION</a>
        </li>
    </ul>{% endblock %}